.header {
  grid-area: header;
}

.explorer {
  grid-area: expTab;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-editor {
  grid-area: text;
  text-align: left;
  vertical-align: text-top;
}

.interpretor-output {
  grid-area: output;
}

.editor {
  display: grid;
  grid-template-areas:
    'header header header header header header header header'
    'expTab text text text text output output output';
  gap: 10px;
  padding: 25px;
  background-color: #101010;
}

.grid-container>div {
  padding: 20px 0;
  font-size: 30px;
}

.explorer-button {
  background-color: #101010;
}

textarea {
  resize: vertical;
}